{% extends "layout.html" %}

{% block title %}
Heart Gallery Alabama
{% endblock %}

{% block content %}
<div class="quote">
	"Being adopted was like a dream." &mdash; Jannae, age 11
</div>
<ul class="links">
	<li><a href="/mobile/children/individual">Individual Children</a></li>
	<li><a href="/mobile/children/sibling">Sibling Children</a></li>
	<li><a href="/mobile/children/success">Success Stories</a></li>
	<li><a href="/mobile/fullsite">View Full Site</a></li>
</ul>
<p>
	The concept of a "family" is foreign to far too many children. For reasons beyond their control, they have found themselves living in the foster care system. Many have passed through several homes, enduring neglect and sometimes violence. Others may be considered "harder to place" because they belong to a sibling group or have special needs. Some are older children who have endured the system for years. All of them are souls with a basic longing for a "normal" life&hellip; for someplace to call home. They all need a family.
</p>
<p>
	The mission of Heart Gallery Alabama is to help find families for these children in Alabama's foster care system.
</p>
{% endblock %}
