{% extends "layout.html" %}

{% block title %}
Heart Gallery Alabama
{% endblock %}

{% block content %}
<h1>{{ subtitle }}</h1>

<div id="gender-filters" class="filter-group">
	<a class="active">All</a>
	<a data-gender="male">Boys</a>
	<a data-gender="female">Girls</a>
	{% if category != 'individual' %}
	<a data-gender="mixed">Boys &amp; Girls</a>
	{% endif %}
</div>

{% if category == 'individual' %}
<div id="age-filters" class="filter-group">
	<a class="active">All</a>
	<a data-age="1-12">12 &amp; Under</a>
	<a data-age="13-15">13-15</a>
	<a data-age="16-99">16+</a>
</div>
{% endif %}

<input id="search" class="search" placeholder="Search..." tabindex="1">

<ul id="children" class="children">
	{% for child in children %}
	<li data-gender="{{ child.gender }}" data-age="{{ child.age }}">
		<a href="/mobile/children/details/{{ child.id }}">
			<div class="image"><img src="/images/mobile/thumbnails/{{ child.thumbnail }}"></div>
			<div class="name">{{ child.name }}</div>
		</a>
	</li>
	{% endfor %}
</ul>
{% endblock %}
